.div-principal-alterar-filme {
    padding-left: 10px;
    padding-right: 10px;
} 

.formulario-alterar-filme {
    padding-left: 20px;
    padding-right: 20px;
}

.botao-salvar-alterar-filme {
    margin-top: 5px;
    margin-right: 15px;
}

.botao-voltar-alterar-filme {
    margin-top: 5px;
}

