.div-principal-add-cliente {
    padding-left: 10px;
    padding-right: 10px;
} 

.formulario-add-cliente {
    padding-left: 20px;
    padding-right: 20px;
}

.botao-adicionar-add-cliente {
    margin-top: 15px;
    margin-right: 15px;
}

.botao-voltar-add-cliente {
    margin-top: 15px;
}

