.div-principal-nova-locacao {
    padding-left: 10px;
    padding-right: 10px;
} 

.formulario-nova-locacao {
    padding-left: 20px;
    padding-right: 20px;
}

.botao-adicionar-nova-locacao {
    margin-top: 5px;
    margin-right: 15px;
}

.botao-voltar-nova-locacao {
    margin-top: 5px;
}

